body{
    background-color:rgb(89, 46, 129);
   text-align: center;
}
.produtosgerais{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
}
.nome{
        width:100%;
}
.Dog{
    width: 100%;
    display: flex;
}
.Gat{

    padding: 3%;
    margin: 25px;
    width: 20%;
    border: 5px solid;
    border-color: rgb(0, 0, 1);
}

.imagen{
    width: 100%;
}